.post {
  display: flex;
  flex-direction: column;
  border: 1px solid #E0E0E0;
  border-radius: 7px;
  padding: 7px;
  resize: none;
  margin: 1rem 0;

  .text {
    word-wrap: anywhere;
  }

  .createdDate {
    margin-top: 0.3rem;
    font-size: 0.7rem;
    color: #A0A0A0;
  }
}