@import "./common";

.profileView {
  min-width: 100%;
  display: flex;
  flex-direction: column;


  .profileInfo {
    min-width: 100%;
    border-bottom: solid gray 1px;
    border-right: solid gray 1px;
    border-bottom-right-radius: 7px;
    padding: 2rem;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.05), 2px 2px 0px 0px rgba(0, 0, 0, 0.025);

    display: flex;
    flex-direction: column;

    .fullName {
      font-size: 1.5rem;
    }

    .username {

    }

  }

  .newPost {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    min-height: 6rem;

    @include border-shadow;
    border: solid gray 1px;

    @include post-editor;
  }

  .posts {
    padding: 0 2rem 2rem;
  }
}