@import "./common";

.profileCard {
  width: 15rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  flex: auto;

  @include border-shadow;

  .profileInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    a {
      text-decoration: none;
      color: black;
    }

    .fullName {
      font-size: 1.3rem;
    }

    .username {

    }
  }

  .profileActions {
    button {
      background: none;
      border: none;
      padding: 0;
      text-decoration: none;
      cursor: pointer;
      color: inherit;
      font-size: 0.8rem;
    }
  }
}