.profileView {
  min-width: 100%;
  display: flex;
  flex-direction: column;

  .profileInfo {
    min-width: 100%;
    border-bottom: solid gray 1px;
    border-right: solid gray 1px;
    border-bottom-right-radius: 7px;
    padding: 2rem;

    display: flex;
    flex-direction: column;

    .fullName {
      font-size: 1.5rem;
    }

    .username {

    }

  }

  .newPost {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    min-height: 6rem;

    border: solid gray 1px;
    border-radius: 7px;

    &:focus-within {
      border-color: mediumpurple;
      outline: solid mediumpurple 2px;
    }

    form {
      min-height: 100%;
      display: flex;
      flex-direction: row;
      flex: auto;

      textarea {
        flex-grow: 1;
        border: 0px;
        border-radius: 7px 0 0 7px;
        padding: 7px;
        resize: none;

        &:focus {
          outline: none;
        }
      }

      button {
        border: 0px;
        border-radius: 0 7px 7px 0;
      }

    }
  }

  .posts {
    padding: 0 2rem 2rem;
  }
}